@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Enfant>

@{
    Layout = "_Layout";
}

@section BackgroundDiff {
    <style>
        body {
            background-image: url(/images/Background_4.webp);
        }
    </style>
}

@section activeFavoris {
    active
}

@{
    ViewData["pageTitle"] = "TheWitcher.ca : Favoris";
    ViewData["Title"] = "Personnages favoris";
}

<!-- PAGE : FAVORIS -->
<div class="text-center">
    <br />
    <p class="titrePage text-center">Vous avez <b>@Model.Count</b> en favoris</p>
    <br />
    <div class="form-check-inline">
        <div class="table-responsive">
            <table class="table table-striped table-dark justify-content-center">
                <thead>
                    <tr>
                        <th scope="col">PORTRAIT</th>
                        <th scope="col">NOM</th>
                        <th scope="col">RÔLE</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Enfant enfant in Model)
                    {
                        <tr>
                            <th scope="row"><img src="@enfant.ImageURL1" class="tailleImageFavoris" alt=""></th>
                            <td><a href="/Enfant/Détail/@enfant.Id">@enfant.Nom</a></td>
                            <td>@enfant.Parent.Nom</td>
                            <td>
                                <form asp-action="SupprimerUnEnfant" method="post" class="form-inline">
                                    <input type="hidden" name="id" value="@enfant.Id">
                                    <button type="submit" class="btn-dark"><i class="fas fa-user-times"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>