@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.Extensions.Hosting;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using TP2_Tanguay_Zachary.Models;

@{
    Layout = "_LayoutAjouterPerso";
}

@model Enfant

@section BackgroundDiff {
    <style>
        body {
            background-image: url(/images/faceaface.png);
            height: 100%;
        }
    </style>
}

@{
    ViewData["pageTitle"] = "TheWitcher.ca : Détail";
    ViewData["Title"] = "Detail du personnage \t" + Model.Nom;
}

<div class="row" style="justify-content:center;">
    <div class="col-sm-8 col-lg-6">
        <div class="createFormWrapper txtWhite">
            <div class="card">
                <div class="card-header createFormTxt">
                    <div class="row txtCenter">
                        @Model.Nom
                        @if (Model.Vedette)
                        {
                            <div class="alert alert-secondary boutonDetail" style="left:20px;" role="alert">
                                <b>PERSONNAGE VEDETTE!</b>
                            </div>
                        }
                    </div>
                </div>
                <h5 class="txtCenter">Personnage</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div>
                                    <hr />
                                    <br />
                                    <div class="col-12">
                                        <span><b>Nom complet : @Model.NomComplet</b></span><br>
                                        <br>
                                        <span><b>Nom : @Model.Nom</b></span><br>
                                        <br>
                                        <span><b>Surnom : @Model.Surnom</b></span><br>
                                        <br>
                                        <span><b>Sexe : @Model.Genre</b></span><br>
                                        <br>
                                        <span><b>Âge : @Model.Age</b></span><br>
                                        <br>
                                        <span><b>Rôle : @Model.Role </b></span><br>
                                        <br>
                                        <span><b>Race : @Model.Race</b></span><br>
                                        <br>
                                        <span><b>Sexe : @Model.Genre</b></span><br>
                                        <br>
                                        <span><b>Âge : @Model.Age</b></span><br>
                                        <br>
                                        <span><b>Rôle : @Model.Role </b></span><br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row rowImageRecherche ml-2">
                                <div class="searchCardWrapper mt-5 ml-1">
                                    <div class="carousel slide">
                                        <div class="carousel-inner searchCardImg">
                                            <div class="carousel-item active">
                                                <img class="searchImg d-block w-100" src="@Html.DisplayFor(model => model.ImageURL1)" alt="First slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="searchImg d-block w-100" src="@Html.DisplayFor(model => model.ImageURL2)" alt="Second slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="searchImg d-block w-100" src="@Html.DisplayFor(model => model.ImageURL3)" alt="Third slide">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1 class="createFormTxt txtCenter">Description</h1>
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="addButtonWrapper">
                    <div class="row addButtonTxt">
                        <div class="col-11">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row txtCenter mr-1">
                                        <h6 class="m-2">Voulez-vous ajouter ce personnage au favoris ?</h6>
                                        <form asp-controller="Favoris" asp-action="AjouterUnEnfant" method="post" class="form-group form-row">
                                            <input type="hidden" name="id" value="@Model.Id">
                                            <button type="submit" class="btn-primary"><b>FAVORIS</b></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>