@using TP2_Tanguay_Zachary.Models;
@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TP2_Tanguay_Zachary.ViewModels.PageRechercheViewModel

@{
    Layout = "_Layout";
}

@section BackgroundDiff {
    <style>
        body {
            background-image: url(/images/Background_4.webp);
            height: 100%;
        }
    </style>
}

@{
    Random random = new Random();
    var modelMélangé = Model.Resultat.OrderBy(m => random.Next());
}
@section activeRecherche {
    active
}
@{
    ViewData["pageTitle"] = "TheWitcher.ca : Recherche";
    ViewData["Title"] = "Liste des personnages";
}


<!-- PAGE : RECHERCHE -->


<div>
    <div class="row mr-2">
        <div class="col-12 col-md-8 col-lg-2 col-xl-3 order-1 order-lg-3">
            <form action="/Enfant/Filtrer" method="get" class="searchFormWrapper txtWhite mb-4">
                <!--Début formulaire-->

                <br><!--Espace-->

                <div class="form-row form-group">
                    <!--Début propriété de type texte en lien avec les entités Enfants-->
                    <div class="col">
                        <label for="MotsCles" class="formTitle">Recherche par mots-cles</label>
                        <input type="text" id="MotsCles" name="MotsCles" class="form-control formTxt borderForm" placeholder="Saisir un ou des mots-clés" value="@Model.Criteres.MotsCles">
                    </div>
                </div><!--Fin propriété de type texte en lien avec les entités Enfants-->

                <br><!--Espace-->

                <div class="form-row form-group">
                    <!--Début propriété de type numérique en lien avec les entités Enfants-->
                    <div class="col-12">
                        <label for="agePersonnage" class="formTitle">Age du personnage</label>
                    </div>
                    <div class="col-6 form-group">
                        <input type="number" id="agePersonnage" name="AgePersonnageMin" min="1" max="200" class="form-control formTxt borderForm" placeholder="Min" value="@Model.Criteres.AgePersonnageMin">
                    </div>
                    <div class="col-6 form-group">
                        <input type="number" id="agePersonnage" name="AgePersonnageMax" min="1" max="200" class="form-control formTxt borderForm" placeholder="Max" value="@Model.Criteres.AgePersonnageMax">
                    </div><!--Fin propriété de type numérique en lien avec les entités Enfants -->
                </div>

                <br><!--Espace-->

                <div class="form-row form-group">
                    <!--Début liste déroulante portant sur le fait que l’entité enfant est une entité vedette (Peu importe/Oui/Non)-->
                    <div class="col">
                        <label for="personnageVedette" class="formTitle">Personnage Vedette</label>
                        <select name="choixPersonnageVedette" id="ChoixPersonnageVedette" class="form-control formTxt borderForm">
                            @if (Model.Criteres.ChoixPersonnageVedette == "")
                            {
                                <option value="" selected>Peu importe, je veux afficher tout les personnages</option>
                            }
                            else
                            {
                                <option value="">Peu importe, je veux afficher tout les personnages</option>
                            }

                            @if (Model.Criteres.ChoixPersonnageVedette == "true")
                            {
                                <option value="true" selected>Oui, je veux que les personnages vedettes</option>
                            }
                            else
                            {
                                <option value="true">Oui, je veux que les personnages vedettes</option>
                            }

                            @if (Model.Criteres.ChoixPersonnageVedette == "false")
                            {
                                <option value="false" selected>Non, je ne veux aucun personnages vedettes</option>
                            }
                            else
                            {
                                <option value="false">Non, je ne veux aucun personnages vedettes</option>
                            }
                        </select>
                    </div>
                </div><!--Fin liste déroulante portant sur le fait que l’entité enfant est une entité vedette (Peu importe/Oui/Non)-->

                <br><!--Espace-->

                <div class="form-row form-group">
                    <!--début checkbok pour représenter les entités parents (coché par défaut)-->
                    <div class="col">
                        <label for="classePersonnage" class="formTitle">Categorie du personnage</label>
                    </div><br>
                          <div class="col-12 formCheckboxWrapper">

                              <input type="checkbox" @(Model.Criteres.Rois ? "checked" : "") name="Rois" id="Rois" value="true">
                              <label for="Rois" class="formTxtCheckbox">Rois / Reines</label><br>

                              <input type="checkbox" @(Model.Criteres.Magiciennes ? "checked" : "") name="Magiciennes" id="Magiciennes" value="true">
                              <label for="Magiciennes" class="formTxtCheckbox">Magiciens / Magiciennes</label><br>

                              <input type="checkbox" @(Model.Criteres.Sorceleurs ? "checked" : "") name="Sorceleurs" id="Sorceleurs" value="true">
                              <label for="Sorceleurs" class="formTxtCheckbox">Sorceleurs / Sorceleuses</label><br>
                          </div>
                </div><!-- Fin checkbok pour représenter les entités parents (coché par défaut -->

                <div class="form-row">
                    <div class="col-auto formTxt"><button type="reset" class="btn-danger boutonRecherche"><i class="fas fa-redo"></i> Réinitialiser</button></div>
                    <div class="col-auto formTxt"><button type="submit" class="btn-light boutonRecherche">Rechercher <i class="fas fa-search"></i></button></div>
                </div>
                <div class="row">
                    <div class="col">
                        <!--bannerFlag-->
                        <img class="img-fluid bannerLogo" src="/images/wolfSchoolMedallion.png" alt="Third slide">
                    </div>
                </div>
            </form><!--Fin formulaire-->
        </div>
        <div class="col-4 order-1">
            <!--bannerFlag-->
            <img class="img-fluid bannerFlag" src="/images/BannerFlag.png" alt="Third slide">
        </div>


        <div class="col-12 display-lg-none order-1"></div>


        <div class="col order-3 order-md-1">
            <div class="row rowImageRecherche ml-2">
                <!-- Rangée-->
                @{int idCarousel = 0;
                    foreach (Enfant Enfants in modelMélangé)
                    {
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <!--Colonne-->
                            <div class="searchCardWrapper mt-5 ml-1">
                                <div class="dropdown searchCardRemoveIcon">
                                    <button class="dropbtn"><i class="fas fa-minus"></i></button>
                                    <div class="dropdown-content">
                                        <h2 class="dropdownMenuTitle">Options</h2>
                                        <a href="/Enfant/Détail/@Enfants.Id">Detail sur @Enfants.Nom</a>
                                        <a href="/GestionEnfant/Delete/@Enfants.Id">Supprimer @Enfants.Nom</a>
                                        <a href="/Favoris/Index">
                                            <form asp-controller="Favoris" asp-action="AjouterUnEnfant" method="post" class="favHover">
                                                <input type="hidden" name="id" value="@Enfants.Id">
                                                <button type="submit" class="boutonFavoris">Ajouter @Enfants.Nom au favoris</button>
                                            </form>
                                        </a>
                                    </div>
                                </div>
                                <a href="/Enfant/Détail/@Enfants.Id" class="links">
                                    <div class="searchCharacterName"><i>@Enfants.Nom</i></div>
                                    <div class="searchCharacterRole"><i>@Enfants.Role</i></div>
                                    <div id="@idCarousel" class="carousel slide">
                                        <div class="carousel-inner searchCardImg">
                                            <div class="carousel-item active">
                                                <img class="searchImg d-block w-100" src="@Enfants.ImageURL1" alt="First slide"><!--1er image du carousel-->
                                            </div>
                                            <div class="carousel-item">
                                                <img class="searchImg d-block w-100" src="@Enfants.ImageURL2" alt="Second slide"><!--2e image du carousel-->
                                            </div>
                                            <div class="carousel-item">
                                                <img class="searchImg d-block w-100" src="@Enfants.ImageURL3" alt="Third slide"><!--3e image du carousel-->
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        idCarousel++;
                    }
                }
                @if (Model.Resultat.Count() == 0)
                {
                    <p>
                        Aucun perso ne correspond à sait critères de recherche
                    </p>
                }
            </div>
        </div>
    </div>
</div>