@using TP1_Partie2_Tanguay_Zachary.Models;
@using System.Linq;

@{
    Layout = "_Layout";
}
@section BackgroundDiff {
    <style>
        body {
            background-image: url(../images/Background_4.webp);
            height: auto;
        }
    </style>
}

@section activeAccueil {
    active
}

@{
    ViewData["title"] = "Accueil";
}

@model List<Parent>;

    <!-- PAGE : ACCUEIL -->

<div class="background">

        <!-- Espacement -->
        <br>
        <h1 class="titrePage texteEnBlanc text-center"><em><b>CATÉGORIES DES PERSONNAGES</b></em></h1>
        <br>
        <!-- Espacement -->
        <div class="row">
            @foreach (Parent parent in Model)
            {
                <div class="col card-decks texteEnBlanc">
                    <div class=" card conteneurAccueil">
                        <a href="/Enfant/Recherche" class="liensInvisible">
                            <img src="@parent.ImageURL" class="card-img-top tailleImageAccueil" alt="...">
                            <div class="card-body text-center">
                                <h2 class="card-title titreConteneurAccueil">@parent.Nom.ToUpper()</h2>
                                <p class="card-text">
                                    <br>
                                    <h6>| Statistique |</h6>
                                    <ul>
                                        <li class="card-text">Nombre de @parent.Nom : @(parent.Enfants.Count)</li>
                                        <li class="card-text">Nombre de femmes : @(parent.Enfants.Count(e => e.Genre == "Féminin"))</li>
                                        <li class="card-text">Nombre d'hommes : @(parent.Enfants.Count(e => e.Genre == "Masculin"))</li>
                                    </ul>
                                </p><br>
                                <p class="card-text">@parent.Description</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
</div>

