@using System.Linq;

@section BackgroundDiff {
    <style>
        body {
            background-image: url(../images/Background_4.webp);
            backdrop-filter: blur(2px) !important;
        }
    </style>
}

@section activeAccueil {
    active
}

@{
    ViewData["pageTitle"] = "TheWitcher.ca : Accueil";
    ViewData["Title"] = "Categorie des personnages";
}

@model List<Parent>

    <!-- PAGE : ACCUEIL -->

<div>
    <div class="row homeCardRow">
        @foreach (Parent parent in Model)
        {
            <div class="col card-decks txtWhite">
                <div class=" card homeCardWrapper">
                    <div class="homeCardBackground">
                        <a href="/Enfant/Recherche" class="links">
                            <div class="container">
                                <div class="homeImgContainer">
                                    <img src="@parent.ImageURL" class="card-img-top img-fluid homeCardImg" alt="...">
                                </div>
                                <div class="card-body text-center">
                                    <h2 class="card-title homeCardTitle">@parent.Nom.ToUpper()</h2>
                                    <p class="card-text">
                                        <h6>ߜ Statistique ߜ</h6>
                                        <ul class="homeStats">
                                            <li class="card-text homeStatsTxt">Nombre de @parent.Nom : @(parent.Enfants.ToList().Count())</li>
                                            <li class="card-text homeStatsTxt">Nombre de femmes : @(parent.Enfants.Count(e => e.Genre == "Féminin"))</li>
                                            <li class="card-text homeStatsTxt">Nombre d'hommes : @(parent.Enfants.Count(e => e.Genre == "Masculin"))</li>
                                        </ul>
                                    </p><br>
                                    <p class="card-text homeCardDesc">@parent.Description</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

